<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTest" parallel="tests" thread-count="2">
	
  <test name="Test1">
  <!--parameter name="environmentId" value="11"/-->
  <!--parameter name="testsetName" value="Sanity"/-->
    <classes>
      <class name="com.webdriver.framework.TestRunner"/>
    </classes>
    </test>
</suite> <!-- Suite -->
